

.table{
	
	
	//background: aqua;
	
}
#mybutton{
	-webkit-animation:myfirst 5s alternate infinite;
	
}



@-webkit-keyframes myfirst /* Safari and Chrome */
{
0%   {width: 50px;text-color: black;}
25%  { width: 100px;text-color: red;}
50%  {width: 150px;text-shadow:lime;;}
75%  {width: 200px;text-shadow: black;}
100% {width: 250px;text-shadow: blue;}
}

.btn
{

//-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari */

//-webkit-transition:-webkit-transform 1s;
}

.btn:HOVER
{
//width:500px;
//height:560px;

//-webkit-transform: translate(50px,100px);
//-webkit-transform: scale(2,4);
//-webkit-transform: translateY(50px);
//-webkit-transform:rotateY(180deg);
//-webkit-transform:rotate3d(0px,0px,50px,180deg); 
}



.col-md-6
{

//-webkit-transition:width 2s, height 2s, -webkit-transform 2s; /* Safari */

//-webkit-transition:width 2s, height 2s, -webkit-transform 2s;
}

.col-md-6:hover
{

//-webkit-transform: scale(2,1);
//transform:rotate(180deg);
//-webkit-transform:rotate(360deg); /* Safari */
}







.table {
	//background-color: gray;
}

.table-responsive{
	//background-color: red;
}

.table-body{
	//height: 5px; 
//overflow:scroll;
//max-height: 10px;
//background: blue;
}

.panel-body{
	padding-top:0px;
	padding-bottom:0px;

	height: 205px; 
	//background: blue;
	overflow: auto;
	
}



